@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #e7eeed;
}

.txc-1 {
  color: #133cb8;
}

.txc-2 {
  color: #1544c0;
}

.txc-3 {
  color: #4167cc;
}

.txc-4 {
  color: #96ffca;
}

.txc-5 {
  color: #e7eeed;
}

.bg-1 {
  background-color: #133cb8;
}

.bg-2 {
  background-color: #1544c0;
}

.bg-3 {
  background-color: #4167cc;
}

.bg-4 {
  background-color: #96ffca;
}

.bg-5 {
  background-color: #e7eeed;
}

.nav a {
  border-bottom-color: #1544c0;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  padding-bottom: 3px;
}

.nav a:hover {
  border-bottom-color: #e7eeed;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  transition: all 0.5s ease-in-out;
}

.nav a.active {
  border-bottom-color: #e7eeed;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  transition: all 0.5s ease-in-out;
}

.header-desktop {
  display: none;
}

.header-mobile {
  display: block;
}

@media screen and (min-width: 1024px) {
  .header-desktop {
    display: inline;
  }

  .header-mobile {
    display: none;
  }
}
